<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>vue中的条件渲染</title>
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 是否存在 -->
			<!-- <div v-if="show" data-test="v-if">{{message}}</div> -->
			<!-- 显示/隐藏(不会频繁删除或添加DOM) -->
			<!-- <div v-show="show" data-test="v-show">{{message}}</div> -->
			<!-- v-if,v-else-if和v-else要紧贴在一起使用 -->
			<!-- <div v-if="show === 'a'">This is A</div>
			<div v-else-if="show === 'b'">This is B</div>
			<div v-else>This is Others</div> -->
			<!-- 如果没有key值,v-if和v-else变换时会复用DOM -->
			<div v-if="show"> 用户名: <input type="text" key="username"/></div>
			<div v-else> 邮箱名: <input type="email" key="useremail"></div>
		</div>

		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					show: false,
					//show: 'a',
					message: "hello world"
				}
			});
		</script>
	</body>
</html>
